/*Header*/
	header {
		overflow: hidden;
		position: relative;

	}

	/* @-webkit-keyframes animatedBackground {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 100% 0;
		}
	}
	@-moz-keyframes animatedBackground {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 100% 0;
		}
	}
	@keyframes animatedBackground {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 100% 0;
		}
	} */
	.backgroundspace {
		width: 100%;

		background-image: url("../images/lines2.svg");
		background-size: cover;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		transition:1s;
	    /* -webkit-animation-name: animatedBackground;
	    -moz-animation-name: animatedBackground;
	    animation-name: animatedBackground;
		-webkit-animation-duration: 50s;
		-moz-animation-duration: 50s;
		animation-duration: 50s;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
		-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-animation-iteration-count: infinite; */
	}
	header section {
		position: absolute;

		left: 45%;
		top: 40%;

	}

	header h1 {

		color: rgb(35, 50, 60);

		font-family: 'Montserrat', sans-serif;
		font-size: 4em;
		margin:0 auto;
		margin-left: -3.6em;
		text-transform: uppercase;

	}

	header section h2 {

		display: block;

		font-size: 2.5em;
		margin-top: 0;
		margin-left: 2.2em;

		color: rgb(100, 51, 51);


	}
	#nameheader {
		height: 20em;
	}

/*general*/
	* {
		margin: 0;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 600;
	}
	a {
		color: #fffe6c;

	}
	body {
		max-width: 2560px;
	}
	p,li, a {
		line-height: 1.5rem;
	}
	img {
		    width: 100%
	}
	.logo {
		height: 3rem;
	    width: inherit;
    	position: relative;
    	top: 1rem;
	}
	#me {
		max-width: 340px;
	}
	.verline {
		position: absolute;
	    /*top: 0;*/
	    z-index: -9;
	    border-right: #23323c solid 2px;
			/* margin-right: -1px; */
	}
	.horline {
		position: absolute;

	    z-index: -9;
	    border-top: #23323c solid 2px;
			margin-right: -2px;
	}

	#line1 {
		/*right: 20rem;*/

	}
	.hidden {
		display: none;
	}

/*Skills*/
	.aboutme header {
		    border-bottom: #767676 solid 1px;
	    border-top: #767676 solid 1px;
	}
	.aboutme div {
		    width: 80%;
	    margin: auto;
	    padding: 3rem 0;
	}
	.aboutme img {
		height: 4rem;
    	width: auto;
    	margin-bottom: -1.2rem;
    	margin-right: 1rem;
	}
	.aboutme section {

    /* margin: 1rem; */
	    padding: 1rem;
	    color: white;
	    background-color: #2d2d2d;
	    border: #767676 solid 1px;
	    width: 50%;
    	margin: 1rem ;
	    display: inline-block;
	    vertical-align: top;
	    line-height: 5;
	}
	.aboutme section span {
		padding: 1rem;
		    white-space: pre;
	}
/*portfolio*/
	.portfolio > header {
		height: 3em;
    	border-bottom: #767676 solid 1px;
    	border-top: #767676 solid 1px;
    	z-index: 15;
    	margin-bottom: 3rem;
	}

	#portfoliobody .textholder {
		/*float: right;*/
		vertical-align: top;
		display: inline-block;
		width: 50%;
		/*background-color: #dcc55e;*/
		/*margin-top: 1rem;*/
	}
	#portfoliobody .imgholder {
		/*float: left;*/
		    margin-right: 0.5rem;
		vertical-align: top;
		display: inline-block;
		width: 40%;
		    padding: 5px;

	}
	#portfoliobody .projecttext {
		max-width: 35em;
		/*margin: 1rem;*/
		padding: 1rem;
		color: #525252;

	}
	#portfoliobody .projecttext h2 {
		margin: 1rem 0;
	}
	#portfoliobody .projecttext > div {
		margin-top: 1rem;
	}
	#portfoliobody > section {
		/*clear: both;*/
		/* background-color: white; */
		padding-top: 1rem;
		margin-bottom: 3rem;
		margin-left: 10rem;
	}
	#portfoliobody .projecttext, #portfoliobody .imgholder, .textholder h2 {
		background-color: rgb(255, 255, 255);
		border: #a0a0a0 solid 5px;
	}
	.textholder h2 {
		display: inline-block;
	    padding: 1rem;

	    max-width: 35em;
	    margin-bottom: 1rem;
	    color: #bdbdbd;
	}
	#content1 {
		margin-left: 20%;
	}
	#content2 {
		margin-left: 10%;
	}
	#content3 {
		margin-left: 5%;
	}
	#content4 {
		margin-left: 15%;
	}
	#content5 {
		margin-left: 25%;
	}
	#content6 {
		margin-left: 20%;
	}
	#content7 {
		margin-left: 10%;
	}
	#content8 {
		margin-left: 5%;
	}
	#content9 {
		margin-left: 10%;
	}
	#content10 {
		margin-left: 20%;
	}
	#content11 {
		margin-left: 5%;
	}
	#content12 {
		margin-left: 15%;
	}
	#content13 {
		margin-left: 10%;
	}
	#content14 {
		margin-left: 25%;
	}


/*aboutme and footer*/
	.aboutme {

	}
	.aboutme article {
		display: inline-block;
	}

	.aboutme article , footer article {
		color: white;
		background-color: #2d2d2d;
		max-width: 35em;
	    margin:1rem auto;
	    padding: 1rem;
    	width: 45%;
	    border: #767676 solid 1px;
	}
	footer p {
		text-align: center;
		padding: 1rem;
	}

	header h1, h2{
		font-family: "Helvetica Neue" ,Helvetica,Ariel,sans-serif;
		font-weight: normal;
		font-size: 2.6em;
	}

	section header,footer header {
		/*background-image: url("../images/hexagon2.svg");*/
		background-position: 0% 15%;
		background-size: 8em ;
		background-color: rgb(45, 45, 45);
	}
	section header h2,footer h2{
		text-align: left;
		/*font-family: 'Montserrat', sans-serif;*/
		/*text-transform: uppercase;*/
		color: rgb(255,255,255);


		margin: 0 1rem;
		/*padding: 1em;*/

	}


@media (max-width: 1445px) {
	.aboutme div {
		width: 80%;
	}
	.aboutme section {
		width: 40%;
	}
}

@media (max-width: 1025px) {
	#nameheader section {
		left: 10%;
		top: 30%;
	}
	#nameheader  h1 {
		margin: 0;
	}
	section header h2,footer h2{
		margin: 0 2rem;
	}
	.aboutme div, footer article {
		width: 100%;
		margin-left: 0rem;
		padding:  0;
	}
	.aboutme article {
		margin-left: 1rem;
	}
	.aboutme section {
		margin: 0;
		width: 100%;
		max-width: 35em;
	}
	#portfoliobody  section {
		margin-left: 1rem;
	}

	#portfoliobody section {
		padding-top: 0;
	}
	#portfoliobody  .imgholder ,#portfoliobody .textholder{
		display: block;
		width: 90%;
		margin-bottom: 1rem;
	}
	#portfoliobody  .imgholder {
		padding: 0;
		border: none;
	}
	.backgroundspace {


		background-size: contain;
		background-repeat: repeat;
	}
}

#test {
	height: 50rem;
	width: 100%;
	background-color: white;
}

@media (max-width: 800px) {
	h2 {
		font-size: 1.7em;
	}
	.portfolio > header > h2 {
		margin: 0.7rem;
	}
	p {
		font-size: 1em;
	}
	.aboutme article {
		width: 80%;
	}
	.aboutme section {
		display: none;
	}

}
@media (max-width: 400px) {
	 h2 {
		font-size: 1.5em;
	}
	p {
		font-size: 1em;
	}

}
